/* --------- */
/* Home section */
/* --------- */
.wave {
  padding-left: 15px;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 80px !important;
  text-align: left;
}
.home-main {
  background-image: url(../Assets/coverbikramA.jpg);
  /* opacity: 60%; */
  height: 80vh;
  margin-top: 4rem;
  margin-left: 40rem;
  margin-right: 15rem;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .home-section {
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
} */

.home-content {
  padding: 1rem 0 2rem !important;
  background-color: rgb(70, 68, 68); /* Fallback color */
  background-color: rgba(58, 57, 57, 0.4); /* Black w/opacity/see-through */
  color: black;
  text-align: center;
  /* border: 1px solid #f1f1f1; */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 20px;
}

.heading1 {
  font-size: 1.8em !important;
  font-weight: 600 !important;
  color: white;
}
/* .line {
  height: 110px;
  width: 9px;
  background-color: gray;
  margin-left: 29.2px;
  position: absolute;
} */

.line-Up {
  height: 143px;
  width: 10px;
  background-color: rgb(95, 93, 93);
  position: absolute;
  text-decoration: overline;
}

.heading-name {
  font-size: 4em !important;
  padding-left: 45px !important;
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.main-name {
  color: #00ffff;

  /* text-shadow: 0 0 2px #87209e; */
}

@media only screen and (max-width: 996px) {
  .main-name {
    font-size: 0.7em;
  }
  .home-main {
    margin-right: 2rem;
    margin-left: 20rem;
  }
}
@media only screen and (max-width: 566px) {
  .main-name {
    font-size: 0.4em;
  }
  .home-main {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}
.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: black !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #b562d6 !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.avatar {
  justify-content: center !important;
  /* padding-top: 2em !important; */
  max-width: 100%;
  border-left: solid black;
  box-shadow: 0 0 80px black;
}
.myAvtar {
  padding-bottom: 2em !important;
  width: 100%;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
    width: 100%;
    margin: 6px 0;
  }
  .avatar {
    max-width: 100%;
  }
  .home-about-description {
    width: 100%;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 7px !important;
}

.home-about-description {
  color: black !important;
  padding-top: 1px !important;
  padding-bottom: 20px !important;
  text-align: right;
}
.home-about-des-img {
  background-color: cadetblue;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: #43b8b8 !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;

  animation-name: slid;
  animation-duration: 5s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
@keyframes slid {
  0% {
    color: #87209e;
    box-shadow: 0 0 100px #9e5920;
    text-shadow: 0 0 100px #9e2031;
  }
  10% {
    color: #87209e;
    box-shadow: 0 0 5px #87209e;
    text-shadow: 0 0 2px #87209e;
  }
  20% {
    color: #87209e;
    box-shadow: 0 0 0px #87209e;
    text-shadow: 0 0 0px #87209e;
  }
  30% {
    color: #87209e;
    box-shadow: 0 0 5px #87209e;
    text-shadow: 0 0 2px #87209e;
  }
  40% {
    color: #87209e;
    box-shadow: 0 0 5px #87209e;
    text-shadow: 0 0 2px #87209e;
  }
  50% {
    color: #87209e;
    box-shadow: 0 0 0px #87209e;
    text-shadow: 0 0 0px #87209e;
  }
  60% {
    color: #87209e;
    box-shadow: 0 0 5px #87209e;
    text-shadow: 0 0 2px #87209e;
  } /* Reset for the last half to pause */
  100% {
    color: #87209e;
    box-shadow: 0 0 0px #87209e;
    text-shadow: 0 0 0px #87209e;
  }
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.home-social-icons:hover {
  color: #87209e;
  box-shadow: 0 0 5px #87209e;
  text-shadow: 0 0 2px #87209e;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: blue !important;
}
.Projects-Items {
  align-items: center;
}

.Project-Title {
  font-size: 1.8em !important;
  font-weight: 600 !important;
}
.send-message {
  display: inline-block;
  padding: 0.3rem 0.6rem;

  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
  background-color: rgb(37, 3, 3);
  color: #00ffff;
}
.purple1 {
  font-size: 20px;
  background-color: #d0fdfd;
}
/* WHY US */
.WhyUsWrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.WhyUsTitle {
  margin-top: 3em !important;
}
.WhyUsTitle span {
  font-size: 3rem;
}
.WhyUsCollapse {
  width: 100%;
}
.WhyUsWrap .ant-collapse {
  background-color: transparent;
  border: none;

  border-radius: 6px;
}

.WhyUsCollapse .ant-collapse-header {
  background-color: #43b8b8;
  font-size: 1rem;
  color: white !important;
}
.WhyUsCollapse .WhyUsPanel:first-of-type .ant-collapse-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.WhyUsPanel .ant-collapse-content-box p {
  font-size: 1rem;
  padding: 3em 2em;
}
.WhyUsGallery {
  width: 100%;
}
.WhyUsGallery img {
  padding: 0.5em;
}
.WhyUsGallery .ant-image-mask {
  background: #9b6f524b;
}
.WhyUsGallery .ant-image-mask .ant-image-mask-info {
  font-size: 1rem;
  font-weight: bold;
}

/* WHY US */
