.section_title {
  height: 40vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: 2rem;
}

.section_title h2 {
  font-size: 180px;
  transition: transform 0.5s ease-out;
  font-family: "AvenirHeavy";
  position: absolute;
  color: #eee;
  top: 5%;
  left: -15%;
  z-index: 1;
}
.section_title p {
  font-family: "AvenirLight";
  position: absolute;
  font-size: 30px;
  padding: 7rem;
  z-index: 2;
}
